:root {
  --background: #000;
  --foreground: #d9d9d9;
}

html.dark {
  body {
    background: var(--background);
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }

  svg {
    color: var(--foreground);
  }
}

html.light {
  body {
    background: var(--foreground);
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }

  svg {
    color: var(--background);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}
