.header {
    padding-top: 2rem;
}

.analytics_container {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    .headerTitle {
        color: white;
        font-size: 2em;
        display: flex;
        justify-content: flex-start;
    }
    .card {
        width: 165px;
        height: 165px;
        border-radius: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .card_description {
            font-size: 14px;
            color: #1C1B20;
            margin: 0;
            text-align: center;
            white-space: pre;
        }
    }
}
.text_inverse {
    color: #fff !important;
}

.tooltip {
    padding: 8px !important;
    font-size: 14px !important;
}
.chart_info {
    font-size: 22px;
    color: #1C1B20;
    margin: 0;
    text-align: center;
}

.profit_factore_bg {
    background-color: #FFEFE2 !important;
}

.profit_loss_bg {
    background-color: #EFFCEF !important;
}

.max_drawdown_bg {
    background-color: #E6F5F9 !important;
}
.trading_frequency_bg {
    background-color: #F4F6FA !important;
}
.charges_paid_bg {
    background-color: #1C1B20 !important;
}

